name: E2E Test Check
on:
  pull_request:
    branches:
      - master
      - main
    types: [ 'opened', 'synchronize' ]
    paths:
      - '.github/**'
      - '.github/workflows/**'
      - '**/*.tf'

jobs:
  e2e-check:
    if: github.event.review.state == 'approved' || github.event.review.body == 'approved'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Get pull request info
        run: |
          echo "repo name is" ${{github.event.pull_request.head.repo.full_name}}
          echo "branch is" ${{github.event.pull_request.head.ref}}
      - name: e2e test
        run: |
          objectPath="github-action/${{github.repository}}/e2e/Action-${{github.run_number}}/Attempt-${{github.run_attempt}}"
          curl -H "X-Fc-Invocation-Type:Async" -s https://exampleodule-ci-terrafoodule-ci-adpgxuiilx.ap-southeast-1.fcapp.run/?branch=${{github.event.pull_request.head.ref}}\&repo_name=${{github.event.pull_request.head.repo.full_name}}\&oss_object_path=${objectPath}\&job_id=${{github.run_id}}-${{github.run_attempt}}
          go run scripts/e2e_check.go ${objectPath} ${{github.run_id}}-${{github.run_attempt}}