name: Weekly E2E Test Check
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  weekly-e2e-check:
    if: github.repository_owner == 'alibabacloud-automation'
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: weekly e2e test
        run: |
          objectPath="github-action/${{github.repository}}/weekly-e2e/Action-${{github.run_number}}/Attempt-${{github.run_attempt}}"
          curl -H "X-Fc-Invocation-Type:Async" -s https://exampleodule-ci-terrafoodule-ci-adpgxuiilx.ap-southeast-1.fcapp.run/?branch=main\&repo_name=${{github.repository}}\&oss_object_path=${objectPath}\&job_id=${{github.run_id}}-${{github.run_attempt}}
          go run scripts/e2e_check.go ${objectPath} ${{github.run_id}}-${{github.run_attempt}}
      - name: update test record
        run: |
          git add TestRecord.md
          cd .git
          sudo chmod -R a+rwX .
          sudo find . -type d -exec chmod g+s '{}' +
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: 'Update TestRecord'
          branch: main